/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

a.cart{
  text-decoration: none;
  color: white;
}

a.cart .cart-basket {
  font-size: small;
  position: absolute;
  top: -10px;
  right: 35px;
  width: 22px;
  height: 22px;
  color: #fff;
  background-color: cornflowerblue;
  border-radius: 50%;
}

.new-price {
  font-size: medium;
  font-weight: bold;
  text-decoration-line: none;
  color: cornflowerblue;
}

.old-price {
  font-size: medium;
  text-decoration-line: line-through;
  color: dimgray;
}

.square {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {

  /* some CSS here */
  .modal-style {
    width: 50%;
  }

  .btn-viewall {
    width: 30%;
  }

  .btn-addcart{
    width: 40%;
  }
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {

  /* some CSS here */
  .modal-style {
    width: 35%;
  }

  .btn-viewall {
    width: 20%;
  }

  .btn-addcart{
    width: 40%;
  }

  .logo-style{
    width : 70%
  }
}

/* #### Desktops #### */
@media screen and (min-width: 1024px) {

  /* some CSS here */
  .modal-style {
    width: 30%;
  }

  .btn-viewall {
    width: 15%;
  }

  .btn-addcart{
    width: 30%;
  }

  .btn-payment{
    font-size: 110%;
  }

  .logo-style{
    width : 60%
  }
}