/* hide scrollbar nhưng vẫn cho phép scrollinh */
body {
  -ms-overflow-style: none;
  /* cho  Internet Explorer, Edge */
  scrollbar-width: none;
  /* cho Firefox */
  overflow-y: scroll;
  background-color: aquamarine;
}

body::-webkit-scrollbar {
  display: none;
  /* cho Chrome, Safari, and Opera */
}

.new-price {
  font-size: medium;
  font-weight: 500;
  text-decoration-line: none;
  color: #0099CC;
}

.old-price {
  font-size: medium;
  text-decoration-line: line-through;
  color: dimgray;
}

.square {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.col-carousel{
  width: 50%;
}

.col-lastest-product{
  width: 25%;
}

.col-similar-product{
  width: 25%;
}

.menu-tittle{
  font-size: 200%;
  font-weight: 300;
  margin-bottom: 2%;
}

.btn-viewall{
  width : 20%
}

.product-name{
  font-weight: 500;
}

.footer-title{
  font-size: 150%;
  font-weight: 400;
}

.footer-content{
  text-decoration: "none";
  color: dimgray
}

.footer-logo{
  width:60%;
  padding-right: 5%;
}

.col-menu-product{
  width : 25%
}

.col-product-component{
  width : 75%
}

.col-product-card-component{
  width : 33.33%
}

.list-menu-product-drawer{
  display :none
}

.col-product-image{
  width : 50%
}

.col-product-detail{
  width : 50%
}

.col-menu-product-drawer{
  display: none;
}

.btn-addcart{
  width: 40%;
  background-color: #0099CC;
}

.filter-price-product-component{
  display: none;
}

.col-min-max-price{
  width: 100%
}

@media screen and (max-width: 767px) {
  /* The width is 100%, when the viewport is 800px or smaller */
  .col-carousel{
    width: 100%;
  }

  .col-lastest-product{
    width: 50%;
  }

  .col-similar-product{
    width: 50%;
  }

  .menu-tittle{
    font-size: 150%;
    font-weight: 300;
    margin-bottom: 3%;
    margin-top: 5%;
  }

  .btn-viewall{
    width : 35%
  }

  .footer-title{
    font-size: 100%;
    font-weight: 400;
  }
  
  .footer-content{
    font-size: 50%;
    text-decoration: "none";
    color: dimgray
  }

  .footer-logo{
    width:100%;
    padding-right: 20%;
    font-size: 50%;
  }

  .col-menu-product{
    width : 100%
  }
  
  .col-product-component{
    width : 100%
  }

  .product-all-menu{
    display : none
  }

  .col-product-card-component{
    width : 100%
  }

  .col-product-image{
    width : 100%
  }
  
  .col-product-detail{
    width : 100%
  }

  .col-menu-product-drawer{
    display: block;
  }

  .col-menu-product {
    display : none
  }

  .btn-addcart{
    width: 40%;
  }

  .filter-price-product-component{
    display: block;
  }
  .col-min-max-price{
    width: 50%;
    float: left;
    margin-bottom: 2%;
  }
}