/* hide scrollbar nhưng vẫn cho phép scrollinh */
body {
  -ms-overflow-style: none;
  /* cho  Internet Explorer, Edge */
  scrollbar-width: none;
  /* cho Firefox */
  overflow-y: scroll;
  background-color: aquamarine;
}

body::-webkit-scrollbar {
  display: none;
  /* cho Chrome, Safari, and Opera */
}

.new-price {
  font-size: medium;
  font-weight: 500;
  text-decoration-line: none;
  color: cornflowerblue;
}

.old-price {
  font-size: medium;
  text-decoration-line: line-through;
  color: dimgray;
}

.square {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.col-carousel{
  width: 50%;
}

.col-lastest-product{
  width: 25%;
}

.menu-tittle{
  font-size: 200%;
  font-weight: 300;
  margin-bottom: 2%;
}

.btn-viewall{
  width : 20%
}

.product-name{
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  /* The width is 100%, when the viewport is 800px or smaller */
  body{
    font-size: smaller;
  }
  .col-carousel{
    width: 100%;
  }

  .col-lastest-product{
    width: 50%;
  }

  .menu-tittle{
    font-size: 150%;
    font-weight: 300;
    margin-bottom: 3%;
    margin-top: 5%;
  }

  .btn-viewall{
    width : 35%
  }
}